<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="flask_01" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\web\myvenv\Scripts\python.exe|&quot;D:\Program Files (x86)\web\myvenv\lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="~/" />
        <add Key="WSGI_LOG" value="/wfastcgi.log" />
    </appSettings>
</configuration>
