<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" type="text/css">
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <h2>線別卡刷卡</h2>
    <br>
    <div>
        <form action="{{ url_for('other.card') }}" method="post">
            <label for="area_name">选择区域:</label>
            <select name="area_name" id="area_name">
                <option value="">請選擇區域</option>
                <option value="KSP3">KS3FSUB</option>
                <option value="KS3TNB">KS3FTNB</option>
            </select>
            <br></br>
            <label for="sub_line_name">選擇線別:</label>
            <select name="line_name" id="sub_line_name">
                <option value="">請選擇線別</option>
                <option value="4779-A31SUBA3F_D">KSP3 - A31 - A31SUBA3F_D</option>
                <option value="4780-A31SUBA3F_N">KSP3 - A31 - A31SUBA3F_N</option>
                <option value="4781-A31SUBB3F_D">KSP3 - A31 - A31SUBB3F_D</option>
                <option value="4782-A31SUBB3F_N">KSP3 - A31 - A31SUBB3F_N</option>
                <option value="4783-A31SUBC3F_D">KSP3 - A31 - A31SUBC3F_D</option>
                <option value="4784-A31SUBC3F_N">KSP3 - A31 - A31SUBC3F_N</option>
                <option value="4785-A31SUBD3F_D">KSP3 - A31 - A31SUBD3F_D</option>
                <option value="4786-A31SUBD3F_N">KSP3 - A31 - A31SUBD3F_N</option>
                <option value="5765-A31SUBE3F_D">KSP3 - A31 - A31SUBE3F_D</option>
                <option value="5766-A31SUBE3F_N">KSP3 - A31 - A31SUBE3F_N</option>
                <option value="6278-A31SUBF3F_D">KSP3 - A31 - A31SUBF3F_D</option>
                <option value="6279-A31SUBF3F_N">KSP3 - A31 - A31SUBF3F_N</option>
                <option value="11189-A31SUBG3F_D">KSP3 - A31 - A31SUBG3F_D</option>
                <option value="11190-A31SUBG3F_N">KSP3 - A31 - A31SUBG3F_N</option>
                <option value="11191-A31SUBH3F_D">KSP3 - A31 - A31SUBH3F_D</option>
                <option value="11192-A31SUBH3F_N">KSP3 - A31 - A31SUBH3F_N</option>
            </select>
            <select name="line_name" id="tnb_line_name">
                <option value="6299-KS3TNBTNBA_D">KSP3 - KS3TNB - KS3TNBTNBA_D</option>
                <option value="6300-KS3TNBTNBA_N">KSP3 - KS3TNB - KS3TNBTNBA_N</option>
                <option value="8986-KS3TNBTNBB_D">KSP3 - KS3TNB - KS3TNBTNBB_D</option>
                <option value="8987-KS3TNBTNBB_N">KSP3 - KS3TNB - KS3TNBTNBB_N</option>
                <option value="9178-KS3TNBTNBC_D">KSP3 - KS3TNB - KS3TNBTNBC_D</option>
                <option value="9179-KS3TNBTNBC_N">KSP3 - KS3TNB - KS3TNBTNBC_N</option>
                <option value="9184-KS3TNBTNBD_D">KSP3 - KS3TNB - KS3TNBTNBD_D</option>
                <option value="9331-KS3TNBTNBD_N">KSP3 - KS3TNB - KS3TNBTNBD_N</option>
                <option value="9278-KS3TNBTNBE_D">KSP3 - KS3TNB - KS3TNBTNBE_D</option>
                <option value="9279-KS3TNBTNBE_N">KSP3 - KS3TNB - KS3TNBTNBE_N</option>
                <option value="11203-KS3TNBTNBF_D">KSP3 - KS3TNB - KS3TNBTNBF_D</option>
                <option value="11204-KS3TNBTNBF_N">KSP3 - KS3TNB - KS3TNBTNBF_N</option>
                <option value="11205-KS3TNBTNBG_D">KSP3 - KS3TNB - KS3TNBTNBG_D</option>
                <option value="11206-KS3TNBTNBG_N">KSP3 - KS3TNB - KS3TNBTNBG_N</option>
                <option value="11207-KS3TNBTNBH_D">KSP3 - KS3TNB - KS3TNBTNBH_D</option>
                <option value="11208-KS3TNBTNBH_N">KSP3 - KS3TNB - KS3TNBTNBH_N</option>
            </select>
            <br><br>
            <label for="card_no" id="message">輸入工號:</label>
            <input type="text" name="card_no" style="width: 230px;" id="card_no" placeholder="請輸入工號">
        </form>
    </div>
    <div id="result"></div>
    <script>
        window.onload = function () {
            document.getElementById('card_no').focus();
            resultDiv.textContent = `先選擇線別，再輸入工號刷卡`;
            resultDiv.style.color = 'blue'; // 设置提示信息为蓝色
            sublineNameSelect.style.display = 'inline-block';
            tnblineNameSelect.style.display = 'none';

        };
        const form = document.querySelector('form');
        const cardNoInput = document.getElementById('card_no');
        const resultDiv = document.getElementById('result');
        const messageLabel = document.getElementById('message');
        const areaNameSelect = document.getElementById('area_name');
        const sublineNameSelect = document.getElementById('sub_line_name');
        const tnblineNameSelect = document.getElementById('tnb_line_name');

        //设定提示框样式
        resultDiv.style.fontWeight = 'bold'; // 设置字体加粗
        resultDiv.style.fontSize = '20px'; // 设置字体大小
        resultDiv.style.animation = 'fadeOut 2s forwards'; // 添加淡出动画
        resultDiv.style.marginTop = '20px'; // 设置上边距
        resultDiv.style.textAlign = 'center'; // 设置文本居中

        areaNameSelect.addEventListener('change', () => {
            const selectedArea = areaNameSelect.value;

            if (selectedArea === 'KSP3') {
                sublineNameSelect.style.display = 'inline-block';
                tnblineNameSelect.style.display = 'none';
            } else {
                sublineNameSelect.style.display = 'none';
                tnblineNameSelect.style.display = 'inline-block';
            }
        })

        sublineNameSelect.addEventListener('change', () => {
            const selectedLine = sublineNameSelect.value;
            const selectedOption = sublineNameSelect.options[sublineNameSelect.selectedIndex].text;
            resultDiv.textContent = `已選擇線別: ${selectedOption.split(' - ')[2]}`; // 显示选择的线别
            resultDiv.style.color = 'blue'; // 设置选择的线别为蓝色
            console.log(`Selected line: ${selectedLine}`); // 打印选择的线别
        });
        tnblineNameSelect.addEventListener('change', () => {
            const selectedLine = tnblineNameSelect.value;
            const selectedOption = tnblineNameSelect.options[tnblineNameSelect.selectedIndex].text;
            resultDiv.textContent = `已選擇線別: ${selectedOption.split(' - ')[2]}`; // 显示选择的线别
            resultDiv.style.color = 'blue'; // 添加选择的线别为蓝色
        })

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const cardNo = cardNoInput.value;
            const areaName = areaNameSelect.value;
            areaName === 'KSP3' ? lineName = sublineNameSelect.value : lineName = tnblineNameSelect.value;
            try {
                const response = await fetch(form.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ card_no: cardNo, line_name: lineName })
                });

                const data = await response.json();
                if (data.code === 1) {
                    resultDiv.textContent = "✅️提示信息:" + cardNo + ':' + data.data.username + ' ' + data.data.message;
                    cardNoInput.value = ''; // 清空输入框
                    resultDiv.style.color = 'green'; // 设置成功消息为绿色
                } else {
                    resultDiv.textContent = "❌️错误信息:" + cardNo + ': ' + data.data.message;
                    resultDiv.style.color = 'red'; // 设置错误消息为红色
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</div>