<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户登陆</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" type="text/css">
</head>

<body>
<div style="margin:200px auto;width:450px;border-radius:20px;padding:30px 30px;box-shadow:0 0 3px #ccc;padding-left:70px;">
  <div style="display:flex;just-content:center;"><form action="/admin/login" method="post" style="margin-bottom:0px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label h5">用户名</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" required>
    <div id="emailHelp" class="form-text">We'll never share your account with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label h5">密码</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
      <span style="color:red;">{{err}}</span><br>
  <button type="submit" class="btn btn-primary">登陆</button>
  <button type="reset" class="btn btn-info">重置</button>
</form></div>

</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>