{% extends 'layout.html' %}
{% block title %}UPPH 实时数据_v1{% endblock %}
{% block content %}
<!--<script src="{{ url_for('static',filename='js/echarts.js')}}"></script>-->
<style>
    table {
        text-align: center;
    }

    .up {
        color: red !important;
        background: pink;
        font-weight: 1000;
        border-radius: 3px;
    }

    .goal {
        color: rgb(0, 0, 0) !important;
        background: rgb(169, 245, 197) !important;
        font-weight: 1000;
    }

    .up1 {
        color: white !important;
        background-color: green !important;
        font-weight: 1000;
        /* box-shadow: inset 0px 0px 20px 2px #04671bd6 !important; */
    }

    #sub,
    #tnb {
        cursor: pointer;
    }

    #js {
        margin-left: 20px;
    }

    td,
    th {
        padding: 4px 5px;
        vertical-align: middle;
    }

    p {
        margin-top: 0;
        margin-bottom: 0rem;
        /*display: inline-table;*/
        display: inline-block;
        background-color: #a8bede;
        border-radius: 3px;
        padding: 2px 20px;
        /*float: left;*/
    }

    #fresh {
        float: right;
    }

    #refresh {
        width: 24px;
        margin: 0;
        cursor: pointer;
    }

    @keyframes sj {
        0% {
            background-color: blue;
        }

        25% {
            background-color: white;
        }

        50% {
            background-color: green;
        }

        75% {
            background-color: white;
        }
    }

    #refresh:hover {
        animation: sj 0.5s linear infinite;
        font-weight: 700 !important;
        border-radius: 12px;
        background-color: red;
    }

    #main_sub,
    #main_tnb {
        width: 360px;
        height: 360px;
        opacity: 0.8;
    }

    .wh {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        color: red;
    }

    marquee {
        color: red;
        font-family: Helvetica;
    }

    #tableToExport {
        width: 100%;
        font-size: 12px;
    }

    #tbody tr:nth-child(odd) {
        background-color: #E7E7FF;
        color: Blue;
    }

    #tbody tr:nth-child(even) {
        background-color: #F7F7F7;
        color: Blue;
    }

    #tableToExport th {
        color: #FFFFFF;
        background-color: rgb(100, 149, 237);
        font-weight: bold;

    }

    .h {
        display: none;
    }

    .ajaxclpan_header_img {
        width: 13px;
        height: 13px;
    }
    /* 1. 设置 p 元素为相对定位，作为标识的定位基准 */
    #radio_type {
        position: relative;
        border-radius:0 5px 5px 5px;
        padding: 5px 8px;
        box-shadow: inset 0px 0px 1px 1px #01bc49;
    }
    /* 2. 使用伪元素创建热点标识 */
    #radio_type::before {
        content: "New";
        /* 标识文字 */
        position: absolute;
        top: 0px;
        left: -38px;
        /* 或 right: 0 放在右上角 */
        /* 样式美化 */
        background-color: #01bc49;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        padding: 0 6px;
        border-radius: 4px 0 0 4px;
        /* 右下角圆角，根据位置调整 */
        z-index: 1;
        /* 确保在文字上方 */
    }

</style>
    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/crypto-js.js')}}"></script>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th colspan="3">
                    <h5 id="area_sub">SUB白_UPPH</h5>
                </th>
                <th colspan="2">
                    <div id="radio_type"><span>选择类型:</span>
                        <label style="padding:0 10px;"><input type="radio" name="selectType" value="all" checked
                                disabled>新版</label>
                        <label style="padding:0 10px;"><input type="radio" name="selectType" value="qa"
                                disabled>旧版</label>
                    </div>
                </th>
                <th colspan="3">
                    <h5 id="area_tnb">TNB白_UPPH</h5>
                </th>
            </tr>
            <tr>
                <th colspan="8">
                    <div>
                        <form class="sub_form" method="POST">
                            <p>
                                <input type="radio" id="option1" class="shift" name="shift" value="D" disabled>
                                <label for="option1">白班</label>
                                <input type="radio" id="option2" class="shift" name="shift" value="N" disabled>
                                <label for="option2">夜班</label>
                            </p>
                            <label id="sub">SUB人力：</label><input type="text" id="sub_em" placeholder="SUB人力"
                                name="sub_hr" />
                            <label id="tnb">TNB人力：</label><input type="text" id="tnb_em" placeholder="TNB人力"
                                name="tnb_hr" />
                            <input type="button" value="提交" onclick="qidongInterval();" class="btn btn-primary btn-sm"
                                id="btn"><span id="fresh"><img src="{{url_for('static',filename='images/refresh.svg')}}"
                                    id="refresh" alt="svg_img" title="点击刷新"></span><span id="js"
                                style="margin-left:2px;width:90px;"></span>
                        </form>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td id="sub_cl">产量：</td>
                <td id="sub_gs">工时：</td>
                <td><input type="text" placeholder="额外工时 " id="sub_ew" /></td>
                <td id="sub_upph" class="up">
                    <h5>UPPH:</h5><span></span>
                </td>
                <td id="tnb_cl">产量：</td>
                <td id="tnb_gs">工时：</td>
                <td><input type="text" placeholder="额外工时" id="tnb_ew" /></td>
                <td id="tnb_upph" class="up">
                    <h5>UPPH:</h5><span></span>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div class="ajaxclpan_header_img">
                        <input type="image" name="imageControl" id="imageControl"
                            src="{{url_for('static',filename='images/collapse.jpg')}}" style="border-width:0px;"
                            title="Collapse Query Panel">
                    </div>
                    <table id="tableToExport">
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>线别</th>
                                <th>产量</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </td>

            </tr>
        </tbody>
    </table>
    <iframe src="http://joy_lo:8081/br/calc.html" frameborder="0" style="height:105px;overflow-y: hidden;padding:0;"
        class="container"></iframe>
    <!--    新旧版切换按钮-->
    <!--    <div class="form-check form-switch" style="float:right;z-index: 100;">-->
    <!--        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">-->
    <!--        <label class="form-check-label" for="flexSwitchCheckChecked">切换旧版</label>-->
    <!--    </div>-->
    <!--    <br>-->
    <!--    <div id="upph_echarts" style="width:1300px;height:400px;display:none;"></div>-->
    <!--    <div style="justify-content:space-evenly;display: flex" id="yibiaopan">-->
    <!--        <div id="main_sub"></div>-->
    <!--        <div id="main_tnb"></div>-->
    <!--    </div>-->
</div>
<script>
    const date_list = ['5/12', '7/28', '9/18', '12/13']
    const today_date = new Date().toLocaleDateString().split('/').slice(1, 3).join('/')
    // if (date_list.includes(today_date)) {
    //     document.querySelector('html').style.filter = 'grayscale(1)'
    // }
    const today_events = [
        { date: "5/12", event: "‌2008 年汶川特大地震‌：5 月 12 日 14 时 28 分，四川汶川发生里氏 8.0 级地震，是新中国成立以来破坏性最强、波及范围最广的地震，遇难及失踪超 8.7 万人 。为纪念这一事件，‌2009 年起每年 5 月 12 日设为全国防灾减灾日‌。" },
        { date: "7/28", event: "唐山大地震50周年祭‌：2026年7月28日正好是1976年唐山大地震发生50周年，当年凌晨3时42分，河北唐山发生7.8级强烈地震，造成24.2万多人遇难 。" },
        { date: "12/13", event: "南京大屠杀是二战期间最严重的战争罪行之一。1985年，侵华日军南京大屠杀遇难同胞纪念馆建成；2014年，我国设立每年12月13日为“南京大屠杀死难者国家公祭日”。" },
        { date: '9/18', event: "9.18九一八事变纪念日|勿忘国耻 铭记历史--1.1931年~1945年，大半中国被日军践踏，930余座城市被侵占，4200万难民无家可归;2.日军制造的800名以上平民伤亡惨案达173件，造成3500多万同胞伤亡;3.中国妇女被日军掳走充当慰安妇在20万人以上;4.中国平民被日军掳走运往日本做劳工的在4万人以上，近7000人死在日本;5.日军从中国掠走资源：钢铁3350万吨、煤炭5.86亿吨." }
    ]
    function get_event() {
        let event = today_events.find(item => item.date === today_date)
        if (event) {
            document.querySelector('table').parentNode.insertBefore(document.createElement("marquee"), document.querySelector('table'));
            document.querySelector('html').style.filter = 'grayscale(1)'
            document.querySelector('marquee').innerHTML = "铭记历史:" + event.event
        }
    }
    get_event()
    // function _days() {
    //     let _timestamp = (parseInt(document.cookie.split('=')[3]) - (new Date).getTime())
    //     let days = Math.floor(_timestamp / (24 * 3600 * 1000)); // 计算出天数
    //     let level = _timestamp % (24 * 3600 * 1000); // 计算天数后剩余的时间
    //     let hours = Math.floor(level / (3600 * 1000)); // 计算剩余的小时数
    //     let level2 = level % (3600 * 1000); // 计算剩余小时后剩余的毫秒数
    //     let minutes = Math.floor(level2 / (60 * 1000)); // 计算剩余的分钟数
    //     document.querySelector("marquee").innerHTML = `温馨提示:您订阅的UPPH查看服务将于${days}天${hours}时${minutes}分后到期,为不影响您正常使用,请及时续费.谢谢您的配合！`
    //     if (days === 0 && hours === 0 && minutes === 0) {
    //         alert('您的服务已到期,请续费后重新登陆，谢谢~');
    //         location.href = '/admin/login';
    //     } else {
    //         return 0;
    //     }

    // }
    // let expire_time = (parseInt(document.cookie.split('=')[3]) - (new Date).getTime()) / (1000 * 60 * 60 * 24);
    // if (expire_time <= 6) {
    //     document.querySelector('table').parentNode.insertBefore(document.createElement("marquee"), document.querySelector('table'));
    //     _days();
    //     setInterval(_days, 60000)
    // }
</script>
<script src="{{ url_for('static',filename='js/upph_js.js')}}"></script>
<!--<script src="{{ url_for('static',filename='js/upph_charts.js')}}"></script>-->
{% endblock %}